@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --primaryColor : #F3F3F3;
  --secondaryColor : #262726;
  --thirdColor : #A8A8A8;
}

*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--primaryColor) !important;
}

body a {
  text-decoration: none;
  color: var(--secondaryColor);
}

.btnPrim{
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  padding: 12px 20px;
  border: 1px solid;
  border-color: var(--secondaryColor);
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.btnPrim:hover{
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--secondaryColor);
}

.btnSecon{
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
}

.btnThird{
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  padding: 12px 20px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}

.btnThird:hover{
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--secondaryColor);
}

.navbar{
  padding: 10px 182px;
  background-color: var(--primaryColor) !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar-nav{
  gap: 30px;
}

.navbar-brand{
  font-size: 24px !important;
  font-weight: 500;
  color: var(--secondaryColor) !important;
}

.nav-link{
  font-size: 14px !important;
  color: var(--secondaryColor) !important;
  position: relative;
}

.nav-link::before{
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--secondaryColor);
  border-radius: 10px;
  bottom: 20%;
  position: absolute;
  transition: all .3s ease-in-out;
}

.nav-link:hover::before{
  content: '';
  width: 50%;
  height: 2px;
  background-color: var(--secondaryColor);
  border-radius: 10px;
  bottom: 20%;
  position: absolute;
  transition: all .3s ease-in-out;
}

.nav-link.active::before{
  content: '';
  width: 50%;
  height: 2px;
  background-color: var(--secondaryColor);
  border-radius: 10px;
  position: absolute;
  bottom: 20%;
}

.heroSection{
  padding: 150px 0 100px 0;
  gap: 24px;
}

.heroName{
  font-size: 40px;
  font-weight: 500;
}

.heroDev{
  font-size: 24px;
  font-weight: 400;
}

.line{
  background-color: var(--secondaryColor);
  height: 2px;
}

.socialMedia{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

#skills, #portfolio, #contact{
  padding-top: 80px;
  padding-bottom: 40px;
}

.imgProfil{
  background-size: cover;
  /* box-shadow: inset 0 0 0 12px rgb(255 255 255 / 30%); */
  justify-self: center;
  animation: borderRadius 8s ease-in-out infinite 1s;
}

@keyframes borderRadius {
  0% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}

@keyframes leftRight {
  0% {
    left: 0;
  }
  50% {
    left: 8px;
  }
  100% {
    left: 0;
  }
}

.card{
  transition: .3s ease-in-out;
}
.card:hover{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.itemSkills{
  padding: 80px 0px 40px 0px;
  margin: 0 auto;
  position: relative;
}

.itemSkills img{
  width: 50%;
}

#portfolio .btnThird{
  padding: 6px 12px;
  margin-top: 8px;
}

.itemPortfolio{
  padding: 40px 0px 20px 0px;
  justify-content: center;
  display: flex;
}

.form-control{
  background: none !important; 
  border: 1px solid !important;
  border-color: var(--thirdColor) !important;
  border-radius: 12px !important;
  padding: 10px 12px !important;
  color: var(--secondaryColor) !important;
}

.bgDark{
  background-color: white;
  border-radius: 12px;
  padding: 12px 0;
}

form label{
  font-size: 16px;
}

.contact a{
  font-size: 16px;
}

.bi-arrow-right{
  position: relative;
  animation: leftRight 4s ease-in-out infinite 1s;
}

.footerSection{
  padding: 40px 0px 0px 0px;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
}




/* MEDIA SCREEN ---------------------------------------------------------- */

@media screen and (max-width : 768px) {
  .navbar-nav{
    gap: 0;
  }
  .nav-link:hover::before{
    width: 5%;
  }
  .nav-link.active::before{
    width: 5%;
  }
  .caption{
    flex-direction: column;
    align-items: center !important;
  }

  .imgProfil{
    width: 300px !important;
    padding-bottom: 40px;
  }
  .contact{
    gap: 40px;
  }
  .form-control{
    padding: 10px !important;
    font-size: 14px !important;
  }
  form label{
    font-size: 14px;
  }
  .btnSecon{
    padding: 8px 16px;
  }
  .btnThird{
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media screen and (max-width : 576px) {
  .imgProfil{
    width: 200px !important;
    padding-bottom: 40px;
  }
  .heroName{
    font-size: 30px;
    font-weight: 500;
  }
  .heroDev{
    font-size: 20px;
    font-weight: 400;
  }
  .contact a{
    font-size: 14px;
  }
}